Repository laudio/pyodbc, pull requests merged in 2019-10, with the labels that each got.

#10 Resolve CI / release script breaking for branch names with slashes
  release.sh
Labels: bugfix, internal

#11 Resolve Travis CI build failing on pull-requests from a fork repository
  .env.example
  .travis.yml
Labels: test

#12 Improvements on the MS SQL Example
  README.md
  examples/app-mssql/.env.example
  examples/app-mssql/Dockerfile
  examples/app-mssql/README.md
  examples/app-mssql/docker-compose.yml
  examples/app-mssql/main.py
Labels: example

#17 Add example application for postgres
  README.md
  examples/app-pg/.env.example
  examples/app-pg/Dockerfile
  examples/app-pg/README.md
  examples/app-pg/docker-compose.yml
  examples/app-pg/main.py
Labels: data transfer, docker, documentation, example

#19 Add an example data pipeline to transfer data based on PostgreSQL
  README.md
  examples/data-transfer-pg/.env.example
  examples/data-transfer-pg/Dockerfile
  examples/data-transfer-pg/README.md
  examples/data-transfer-pg/docker-compose.yml
  examples/data-transfer-pg/main.py
  examples/data-transfer-pg/sql/dest_db_setup.sql
  examples/data-transfer-pg/sql/source_db_setup.sql
Labels: data transfer, example, pg

#21 Print number of rows transferred
  examples/data-transfer-pg/README.md
  examples/data-transfer-pg/main.py
Labels: enhancement, example
